name: Pipeline Complet One Piece

on:
  push:
    branches:
      - main

jobs:
  deploy-tout:
    runs-on: ubuntu-latest
    steps:
      # 1. On récupère le code
      - name: Checkout Code
        uses: actions/checkout@v3

      # 2. On fabrique l'image Docker (CI)
      - name: Build Docker
        run: docker build -t site-one-piece .

      # 3. On prépare Terraform (Infra)
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      # 4. On lance Terraform
      - name: Terraform Init & Apply
        run: |
          terraform init
          terraform apply -auto-approve
      
      # ... après Terraform ...

      - name: Déploiement FTP (Hébergeur externe)
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}