# 1. On déclare qu'on veut utiliser le plugin "Docker"
terraform {
  required_providers {
    docker = {
      source  = "kreuzwerker/docker"
      version = "~> 3.0.1"
    }
  }
}

# 2. On configure le provider (il se connecte à ton Docker Desktop local)
provider "docker" {}

# 3. On demande à Terraform de télécharger l'image Nginx
resource "docker_image" "nginx" {
  name         = "nginx:latest"
  keep_locally = false
}

# 4. On demande à Terraform de lancer un Conteneur avec cette image
resource "docker_container" "nginx" {
  image = docker_image.nginx.image_id
  name  = "serveur_cree_par_terraform"
  
  # On ouvre le port 8000 sur ton PC pour voir le site
  ports {
    internal = 80
    external = 8000